:root{
    --font-title: "Mochiy Pop One", sans-serif;
   --font-basic: "Heebo", sans-serif;

   --color-blue : #76B7CE;
   --color-white : #F5F0E4;
   --color-maroon : #AB6037 ;
   --color-green : #AAB357 ;
   --color-yellow : #DDBA7F ;

   --font-title-size : 32px;
   --font-subtitle-size : 24px;
   --font-text-size: 12px;
   --font-small-size: 8px;
}

body{
    margin: 0;
}

.background_login {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.fond_login {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    gap: 10px;
    padding: 0 20px;
}

.suivant {
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    font-family: "Mochiy Pop One", sans-serif;
    text-decoration: none;
    background-color: #93c7da;
    border-radius: 30px;
    padding: 15px 70px;
    border: 4px solid #FFFFFF;
    font-size: 18px;
    margin-top: 40px;
    position: relative;
    z-index: 10;
}


.retour {
    background-color: #76B7CE;
    border: 4px solid #F5F0E4;
    border-radius: 30px;
    padding: 15px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
}

h1{
    color: #FFFFFF;
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}

h2, h3 {
    color: #FFFFFF;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}