:root {
  --font-title: "Mochiy Pop One", sans-serif;
  --font-basic: "Heebo", sans-serif;

  --color-blue: #76b7ce;
  --color-white: #f5f0e4;
  --color-maroon: #ab6037;
  --color-green: #aab357;
  --color-yellow: #e1be57;

  --font-title-size: 32px;
  --font-subtitle-size: 24px;
  --font-text-size: 12px;
  --font-small-size: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: var(--font-text-size);
  font-style: normal;
  font-optical-sizing: auto;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}


/* ===================== */
/* PROFIL */
/* ===================== */

.profil {
  background-color: var(--color-blue);
  min-height: 100vh;
  height:100%;
  width:100%;
  display: flex;
  align-items: end;
  font-family: var(--font-basic);
}

.profil h2, .profil h1{
  font-family: var(--font-title);
}


.profil li, .profil p{
  font-family: var(--font-basic);
  font-size: var(--font-text-size);
}

/* Carte */
.profil .perso{
  width: 100%;
  height:95%;
  background: var(--color-white);
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  padding: 60px 20px 30px 20px;
  display:flex;
  flex-direction:column;
  gap:3%;
  position: relative;
    overflow-y: scroll;
}

/* ===================== */
/* HEADER */
/* ===================== */

.profil .info_p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:100%;
}

/* Avatar */
.profil .pdp {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil .fond {
  width: 110px;
  height:100px;
  border-radius: 50%;
  background: var(--color-green);
}

.profil .fond img{
  width:70%;
}

/* Bouton édition */
.profil .crea {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 45px;
  height: 45px;
  border-radius: 16px;
  border: none;
  background: var(--color-yellow);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nom */
.profil .pseudo__age {
  font-size: 30px;
  margin-top: 15px;
  font-size: var(--font-texte-size);
  color: black;
}

/* Localisation */
.profil .info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-text-size);
  color: black;
}

/* ===================== */
/* STATS */
/* ===================== */


.profil .categorie__list {
  margin: 30px 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.profil .categorie__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profil .categorie__btn {
  width: 60px;
  height: 60px;
  border-radius: 18px;
  border: none;
  background: var(--color-yellow);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===================== */
/* DESCRIPTION */
/* ===================== */

.profil .profil__description {
  margin-top: 10px;
}

.profil .profil__description h2 {
  color: black;
  margin-bottom: 15px;
}

.profil .description__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profil .description__items {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0;
  color: black;
}

.profil .description__items.trait {
  border-bottom: 1px solid #ddd;
}

/* ===================== */
/* ENVIES */
/* ===================== */

.profil .activites {
  margin-top: 20px;
}

.profil .activites h2 {
  color: black;
  margin-bottom: 15px;
}

.profil .envies {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Boutons */
.profil .envie {
  width: 100%;
  min-height: 42px;

  background: var(--color-blue);
  border: 2px solid #ffffffb2;
  border-radius: 9999px;

  color: white;
  font-size: var(--font-text-size);

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 3px 4px #ffffffb2;
  padding: 0 16px;

  text-align: center;
  transition: 0.2s ease;
}

.profil .envie:hover {
  background: white;
  color: var(--color-blue);
}
