:root {
  --font-title: "Mochiy Pop One", sans-serif;
  --font-basic: "Heebo", sans-serif;

  --color-blue: #76b7ce;
  --color-white: #ffffff;
  --color-maroon: #ab6037;
  --color-green: #aab357;
  --color-yellow: #ddba7f;

  --font-title-size: 28px;
  --font-subtitle-size: 22px;
  --font-text-size: 12px;
  --font-small-size: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-size: var(--font-text-size);
  font-style: normal;
  font-optical-sizing: auto;
  min-width:100vw;
  width: 100vw;
  min-height: 100vh;
  height:100vh;
  display:flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
}

.app-section{
    max-width:100vw;
    overflow: hidden;
    height:100%;
    display:flex;
}

h1 {
  font-family: var(--font-title);
  font-weight: 600;
  font-size: var(--font-title-size);
}

h2 {
  font-family: var(--font-title);
  font-size: var(--font-subtitle-size);
  font-weight: 400;
}

h3 {
  font-family: var(--font-title);
  font-size: 16px;
}

p {
  font-family: var(--font-basic);
  font-size: var(--font-text-size);
  font-weight: 600;
}

.basic-button {
  color: var(--color-white);
  background-color: #93c7da;
  font-size: var(--font-text-size);
  border: 5px solid var(--color-white);
  border-radius: 30px;
  padding: 5px 20px 5px 20px;
  width: 150px;
  font-family: var(--font-title);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.btn-cross-picto {
  width: 20%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
