:root {
  --font-title: "Mochiy Pop One", sans-serif;
  --font-basic: "Heebo", sans-serif;

  --color-blue: #76b7ce;
  --color-white: #f5f0e4;
  --color-maroon: #ab6037;
  --color-green: #aab357;
  --color-yellow: #e1be57;

  --font-title-size: 32px;
  --font-subtitle-size: 24px;
  --font-text-size: 12px;
  --font-small-size: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: var(--font-text-size);
  font-style: normal;
  font-optical-sizing: auto;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
