:root{
    --font-title: "Mochiy Pop One", sans-serif;
   --font-basic: "Heebo", sans-serif;

   --color-blue : #76B7CE;
   --color-white : #F5F0E4;
   --color-maroon : #AB6037 ;
   --color-green : #AAB357 ;
   --color-yellow : #DDBA7F ;

   --font-title-size : 32px;
   --font-subtitle-size : 24px;
   --font-text-size: 12px;
   --font-small-size: 8px;
}

body{
    background:var(--color-blue);
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.navigation-bar{
    width:90%;
    height:15%;
    background-color: var(--color-white);
    margin:auto 5% 2rem 5% ;
    border-radius: 4rem;
    display:inline-flex;
    justify-content: space-evenly;
    padding:0 1rem;
    align-items: center;
}

.navigate-link, .navigate-btn{
    width:3rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 100%;
    border: none;
}

.nav-picto{
    width: 100%;
    height: 100%;
    object-fit: contain;
}