:root{
    --font-title: "Mochiy Pop One", sans-serif;
   --font-basic: "Heebo", sans-serif;

   --color-blue : #76B7CE;
   --color-white : #F5F0E4;
   --color-maroon : #AB6037 ;
   --color-green : #AAB357 ;
   --color-yellow : #DDBA7F ;

   --font-title-size : 32px;
   --font-subtitle-size : 24px;
   --font-text-size: 12px;
   --font-small-size: 8px;
}

body{
    background:var(--color-blue);
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.navigation-section{
    position:absolute;
    bottom:0;
    display:flex;
    z-index:100;
    justify-content: center;
    align-items: center;
    width:100%;
    height:12%;
    background-color: var(--color-blue);
}

.navigation-bar{
    width:90%;
    height:80%;
    background-color: var(--color-white);
    border-radius: 4rem;
    display:inline-flex;
    justify-content: space-evenly;
    padding:0 1rem;
    margin-bottom: 2%;
    align-items: center;
}

.navigate-link{
     transition: transform 0.8s ease-in-out;
    transform: translateY(0);
    aspect-ratio: 1 / 1;
    width:17%;
    background-color: transparent;
    border-radius: 100%;
}

.navigate-btn{
    width:100%;
    height:100%;
        border-radius: 100%;
      background-color: var(--color-white);
        border: none;
}

.nav-picto{
    width: 80%;
    height: 70%;
    object-fit:contain;
}



.active-link{
    transition: transform 0.5s ease;
    transform: translateY(-30px);
    background-color: var(--color-white);
    border: 4px solid var(--color-blue);
}



#boxMap { position: absolute; top: 0; bottom: 0; width: 100%; }

#marker{
    width:50px;
    height:50px;
    background-color: red;
}

.mapboxgl-popup {
        max-width: 200px;
    }

.activity-container{
    position:absolute;
    bottom:0;
    width:100%;
    height: 60%;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.activity-event{
    margin-top: 2rem;
    width:85%;
    min-height:50%;
    height: fit-content;
    background-color: var(--color-white);
    border-radius: 2rem;
    padding-bottom:2rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--font-title);
}

.activity-event-image{
    width:100%;
    height:5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    object-fit: cover;
}

.activity-text{
    width: 90%;
    height:60%;
    display:flex;
    flex-direction: column;
    gap:4%;
}

.activity-text span{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-group-preview{
    width:30%;
    height:100%;
    border: none;
    object-fit: contain;

}