:root{
    --font-title: "Mochiy Pop One", sans-serif;
   --font-basic: "Heebo", sans-serif;

   --color-blue : #76B7CE;
   --color-white : #F5F0E4;
   --color-maroon : #AB6037 ;
   --color-green : #AAB357 ;
   --color-yellow : #DDBA7F ;

   --font-title-size : 32px;
   --font-subtitle-size : 24px;
   --font-text-size: 12px;
   --font-small-size: 8px;
}

*{
    border: 1px solid red;
}



h1{
    color: #F5F0E4;
    font-family: "Mochiy Pop one", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}


.sinscrire{
    color:#F5F0E4;
    background-color: #93c7da;
    border-radius: 30px;
    padding: 15 50 15 50;
    font-family: "Mochiy Pop One", sans-serif;
    border-color: #F5F0E4;
    border-width: 3px;
}

.seconnecter{
    color:#F5F0E4;
    background-color: #93c7da;
    border-radius: 40px;
    padding: 15 50 15 50;
    font-family: "Mochiy Pop one", sans-serif;
    border-color: #F5F0E4;
    border-width: 3px;
    font-size: 14px;

}

.boutons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
    display: grid;
    margin: 50;
    padding: 50;


    
}

.logo_mapang{
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 80px;
}


div {
    background-image: url("/fond_login_300.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

}
