:root{
   --font-basic: "Heebo", sans-serif;

   --color-blue : #76B7CE;
   --color-white : #F5F0E4;
   --color-maroon : #AB6037 ;
   --color-green : #AAB357 ;
   --color-yellow : #DDBA7F ;

   --font-title-size : 32px;
   --font-subtitle-size : 24px;
   --font-text-size: 12px;
   --font-small-size: 8px;
}
